@font-face {
	font-family: 'Roboto';
	src: url('./assets/fonts/Roboto-font/Roboto-Black.ttf') format('ttf'),
		url('./assets/fonts/Roboto-font/Roboto-BlackItalic.ttf') format('ttf'),
		url('./assets/fonts/Roboto-font/Roboto-Bold.ttf') format('ttf'),
		url('./assets/fonts/Roboto-font/Roboto-BoldItalic.ttf') format('ttf'),
		url('./assets/fonts/Roboto-font/Roboto-Bold.ttf') format('ttf'),
		url('./assets/fonts/Roboto-font/Roboto-BoldItalic.ttf') format('ttf'),
		url('./assets/fonts/Roboto-font/Roboto-Italic.ttf') format('ttf'),
		url('./assets/fonts/Roboto-font/Roboto-Light.ttf') format('ttf'),
		url('./assets/fonts/Roboto-font/Roboto-LightItalic.ttf') format('ttf'),
		url('./assets/fonts/Roboto-font/Roboto-Medium.ttf') format('ttf'),
		url('./assets/fonts/Roboto-font/Roboto-MediumItalic.ttf') format('ttf'),
		url('./assets/fonts/Roboto-font/Roboto-Regular.ttf') format('ttf'),
		url('./assets/fonts/Roboto-font/Roboto-Thin.ttf') format('ttf');
	font-weight: normal;
	font-style: normal;
}

body {
	margin: 0;
	width: 100vw;
	font-family: 'Roboto', sans-serif;
	box-sizing: border-box;
}

.PhoneInputCountry {
	background: #ffffff;
	border-bottom: 0.5px solid #424242;
	box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.25);
	border-radius: 4px;
	padding: 3%;
}
