.finger_print_wrapper {
	background-color: #e2e8ff;
	border-radius: 16px 18px 0px 0px;
	height: 50vh;
	width: 100%;
	position: absolute;
	bottom: 0;
	text-align: center;
	box-sizing: border-box;
	padding: 5%;
}
.finger_print_wrapper h3 {
	color: #304596;
	letter-spacing: 3px;
	font-size: 1.5rem;
	margin: 2% 0;
}
.finger_print_wrapper h4 {
	font-size: 1.2rem;
	font-weight: 400;
}

.closeWrapper {
	width: 100%;
	text-align: right;
}
.closeIcon {
	font-size: xx-large;
}

.fingerPrintIcon {
	width: 5rem;
	height: 5rem;
	color: #304596;
	margin: 2% 0;
}

.error {
	display: flex;
	color: red;
	align-items: center;
	font-size: 12px;
	justify-content: center;
}

.errorIcon {
	font-size: 2rem;
}
