#wrapper {
	padding-top: 10vh;
}

.settingsTitle {
	color: #30007e;
	margin: 0;
	font-weight: lighter;
	text-align: center;
}

.settingsDescription {
	color: #424242;
	text-align: center;
	font-size: 14px;
}

.settingsInputForm {
	display: flex;
	flex-direction: column;
	gap: 40px;
	align-items: center;
	margin-top: 10%;
	padding: 0 8%;
	box-sizing: border-box;
}
.settingsInputWrapper {
	width: 100%;
	position: relative;
	display: flex;
}

.settingsInputWrapper .clearIcon {
	position: absolute;
	right: 10px;
	top: 10px;
}

.PhoneInput {
	width: 100%;
	gap: 10px;
	align-items: stretch;
}
.PhoneInput input {
	width: 100%;
	gap: 10px;
	border: 1px solid #cacaca;
	border-radius: 4px;
	padding: 0 10% 0 3%;
	outline: none;
}

.settingsInput img {
	width: 10%;
	cursor: pointer;
}

.settingsBtn {
	width: 100%;

	background-color: #d9d9d9;
	padding: 2%;
	border-radius: 4px;
}

.settingsBtn button {
	border: none;
	width: 100%;
	background-color: #d9d9d9;
	color: #989898;
	height: 34px;
}


.otpInputContainer{
	display: flex;
	width: 100%;
	justify-content: space-evenly;
}

.inputStyle{
	background: #E2E8FF;
border-radius: 4px;
border: none;
width: 1000px;
height: 44px;
width: 100%;
flex: 1;
}