#wrapper {
	display: flex;
	color: var(--white);
	justify-content: space-between;
	background: var(--purple);
	width: 100%;
	/* height: 40px; */
	padding: 1rem;
	/* padding: 3% 6%; */
	box-sizing: border-box;
	align-items: center;
	/* position: fixed; */
	z-index: 1;
}
#wrapper > div {
	display: flex;
	align-items: center;
	gap: 10px;
}

#wrapper > div > div {
	display: flex;
	align-items: center;
}

.image_wrapper {
	border-radius: 50%;
}

.title {
	font-size: 14px;
}

.image_size {
	width: 14px;
	height: 13.61px;
	border-radius: 50%;
}

.right__icon {
	height: 15px;
}
