.container {
	position: absolute;
	inset: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.top__bar {
	display: flex;
	align-items: center;
	width: 100%;
	justify-content: flex-end;
	font-weight: 700;
	font-size: larger;
}

.modal {
	background-color: var(--white);
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 2rem;
	margin-inline: 2rem;
	border-radius: 6px;
	gap: 2rem;
	z-index: 10;
}

.description {
	width: 90%;
	font-weight: 300;
	font-size: 12px;
	color: var(--black);
	text-align: center;
}

.header {
	width: 100%;
	text-align: center;
	color: var(--purple);
	font-size: 14px;
}

.terms__and__conditions {
	font-weight: 300;
	font-size: 12px;

	text-align: center;
	color: var(--black);
}

.terms__and__conditions span {
	font-weight: 500;
	font-size: 12px;
	color: var(--purple);
}

.backdrop {
	position: absolute;
	inset: 0;
	background-color: rgba(0, 0, 0, 0.72);
}

.cta__container {
	width: 100%;
	flex: 0;
	/* padding-inline: 24px; */
}

.cta {
	width: 100%;
	padding: 10px;
	border-radius: 4px;
	border: none;
	background-color: var(--purple);
	color: var(--light-purple);
	font-weight: 500;
}
