.container {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.top__bar {
	width: 100%;
	display: flex;
	flex: 0;
	align-items: center;
	justify-content: space-evenly;
	padding: 17px 24px;
	background-color: var(--light-purple);
}

.top__bar > div:first-child {
	justify-self: flex-start;
}
.top__bar > span:nth-child(2) {
	flex: 1;
	text-align: center;
}

.progress {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	padding: 13px 24px;
	gap: 2px;
}

.inactive__progress {
	height: 3px;
	width: 5px;
	background-color: var(--purple);
	border-radius: 4px;
}

.active__progress {
	height: 3px;
	width: 21px;
	background-color: var(--orange);
	border-radius: 4px;
	animation-name: active__progress;
	animation-duration: 0.5s;
	animation-timing-function: linear;
	animation-fill-mode: forwards;
}

@keyframes active__progress {
	0% {
		background-color: var(--purple);
		width: 5px;
	}
	100% {
		background-color: var(--orange);
		width: 21px;
	}
}

.body {
	flex: 1;
	padding: 1rem;
	gap: 1rem;
	display: flex;
	flex-direction: column;
	/* align-items: center; */
}

.description {
	font-weight: lighter;
	font-size: 16px;
}

.header {
	width: 100%;
	text-align: center;
	color: var(--purple);
	font-size: 14px;
}

.label {
	display: flex;
	flex-direction: column;
	gap: 7px;
	color: var(--black);
}

label > p {
	font-size: 12px;
}

.label > .div {
	width: 100%;
	display: flex;
	align-items: center;
	gap: 1rem;
}

.input__container {
	display: flex;
	align-items: center;
	width: 85%;
	height: 46px;
	background-color: var(--light-purple-variant);
	padding-inline: 11px;
	gap: 11px;
	border-radius: 4px;
	border-bottom: 1px solid var(--black);
}

.input__container input {
	flex: 1;
	border: none;
	background-color: transparent;
	font-size: 8px;
}

.input__container input:focus,
.input__container input:active {
	border: none;
	outline: none;
}

.label span {
	font-size: 8px;
}

.loading__state__container {
	flex: 1;
	height: 100%;
	display: flex;
	align-items: center;
}

.loading__spinner {
	border-radius: 100px;
	width: 20px;
	padding: 3px;
	aspect-ratio: 1;
	border-bottom: 2px solid var(--purple);
	display: grid;
	place-content: center;
	animation: spin 1s linear infinite;
}

@keyframes spin {
	0% {
		rotate: 0deg;
	}
	100% {
		rotate: 360deg;
	}
}

.cta__container {
	flex: 0;
	margin-bottom: 24.5px;
	padding-inline: 24px;
}

.cta {
	width: 100%;
	padding: 10px;
	border-radius: 4px;
	border: none;
	background-color: var(--purple);
	color: var(--light-purple);
	font-weight: 500;
}
