.container {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.top__bar {
	width: 100%;
	display: flex;
	flex: 0;
	align-items: center;
	justify-content: space-evenly;
	padding: 17px 24px;
	background-color: var(--light-purple);
}

.top__bar > div:first-child {
	justify-self: flex-start;
}
.top__bar > span:nth-child(2) {
	flex: 1;
	text-align: center;
}

.progress {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 2px;
}

.inactive__progress {
	height: 3px;
	width: 5px;
	background-color: var(--purple);
	border-radius: 4px;
}

.active__progress {
	height: 3px;
	width: 21px;
	background-color: var(--orange);
	border-radius: 4px;
}

.body {
	flex: 1;
	padding: 1rem;
	gap: 1rem;
	display: flex;
	flex-direction: column;
	/* align-items: center; */
}

.description {
	font-weight: lighter;
	font-size: 16px;
}

.input__container {
	position: relative;
	margin-top: 1rem;
	width: 80%;
	display: flex;
	flex-direction: column;
	align-items: center;
	align-self: center;
	border-radius: 4px;
	background-color: rgba(231, 224, 236, 1);
	/* padding-top: 40px; */
	padding-bottom: 17px;
}

.input__container span {
  margin-top: 5px;
	font-size: 10px;
	color: rgba(126, 125, 125, 1);
}

.input__container > input {
	opacity: 0;
	position: absolute;
	inset: 0;
	background-color: black;
}

.upload__icon {
  margin-top: 40px;
	font-size: 3rem;
	color: rgba(126, 125, 125, 1);
}

.delivery__img__container {
	/* flex: 1; */
	width: 100%;
	height: 100%;
	max-height: 30vh;
}

.delivery__img__container > img {
	flex: 1;
	width: 100%;
	height: 100%;
	object-fit: cover;
	aspect-ratio: auto;
	min-height: 151px;
	border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}

.label {
	width: 100%;
	align-self: center;
	text-align: center;
	font-size: 1rem;
	color: var(--purple);
}

.file__name {
	font-size: 0.75rem;
	margin-left: 10%;
}

.cta__container {
	flex: 0;
	margin-bottom: 24.5px;
	padding-inline: 24px;
}

.cta {
	width: 100%;
	padding: 10px;
	border-radius: 4px;
	border: none;
	background-color: var(--purple);
	color: var(--light-purple);
	font-weight: 500;
}

.cta__disabled {
  width: 100%;
	padding: 10px;
	border-radius: 4px;
	border: none;
	background-color: var(--grey);
	font-weight: 500;
}
