.container {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	flex: 1;
}

.profile {
	padding: 1.5rem 2rem;
	display: flex;
	align-items: flex-start;
	gap: 6px;
	background-color: var(--light-purple);
}

.profile__photo {
	width: 24px;
	aspect-ratio: 1;
	border-radius: 100%;
}

.profile__content {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.full__name {
	font-size: 18px;
	font-weight: 700;
	letter-spacing: 0.015em;
	color: var(--black);
}

.other__details {
	display: flex;
	justify-content: space-evenly;
}

.username__and__date {
	display: flex;
	flex-direction: column;
	align-items: flex-starts;
	width: 50%;
	gap: 8px;
}

.username {
	width: 100%;
	font-size: 10px;
	color: var(--black);
	opacity: 0.5;
}

.date {
	width: 100%;
	display: flex;
	align-items: center;
	gap: 6px;
	font-size: 10px;
	color: var(--black);
	opacity: 1;
}

.cta__container {
	width: 50%;
	display: flex;
	align-items: flex-end;
}

.cta {
	width: 100%;
	padding: 0.5rem 0.5rem;
	font-size: 14px;
	background-color: var(--purple);
	color: var(--white);
	border-radius: 4px;
	border: none;
}

.body {
	display: flex;
	flex-direction: column;
	width: 100%;
	flex: 1;
}

.profile__details {
	padding: 3% 1.5rem;
	display: flex;
	flex-direction: column;
	gap: 1rem;
	padding-bottom: 1rem;
}

.header {
	display: flex;
	align-items: center;
	font-size: 12px;
	justify-content: space-between;
}

.profile__details > div {
	display: flex;
	align-items: flex-start;
	gap: 1rem;
}

.profile__icon {
	height: 14px;
}

.text {
	display: flex;
	flex-direction: column;
}

.username__title {
	font-size: 12px;
}

.display__pictures {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	font-size: 12px;
	padding: 3% 1.5rem;
	border-top: 1px solid rgba(66, 66, 66, 0.1);
}

.section {
	display: flex;
	align-items: center;
	width: 100%;
	gap: 1rem;
}

.section > span {
	flex: 1;
	color: var(--black);
	opacity: 0.8;
}

.wallet {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	font-size: 12px;
	padding: 3% 1.5rem;
	border-top: 1px solid rgba(66, 66, 66, 0.1);
}

.wallet__section {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 1rem;
}

.wallet__section > div {
	display: flex;
	flex-direction: column;
	flex: 1;
}

.wallet__section > div > p {
	opacity: 0.4;
}

.settings {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	font-size: 12px;
	padding: 3% 1.5rem;
	border-top: 1px solid rgba(66, 66, 66, 0.1);
}

.footer__container {
	padding-bottom: 24px;
	overflow: hidden;
}

.footer {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: var(--purple);
	padding: 8px;
	gap: 9px;
	background-color: var(--orange);
}

.footer__header {
	font-size: 12px;
	margin-top: 4px;
}

.icons__container {
	display: flex;
	gap: 1rem;
}

.app__version {
	font-size: 8px;
}
