.HomeContainer {
	padding: 5% 5% 25% 5%;
	gap: 20px;
	display: flex;
	flex-direction: column;
}

.div1 .heading {
	color: #7c7c7c;
}
.div1 .main_contents {
	background-color: #e2e8ff;
	display: flex;
	justify-content: space-between;
	padding: 5%;
	border-radius: 8px;
}

.div1 .main_contents .title {
	color: #30007e;
	font-size: 24px;
	font-weight: bolder;
	line-height: 18px;
	letter-spacing: 0.01em;
	text-align: left;
}

.div1 .main_contents .image_wrapper {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	gap: 10px;
	color: #30007e;
}
