.container {
	width: 100%;
	height: 100vh;
	background-color: var(--white);
	display: flex;
	flex-direction: column;
}

.profile {
	display: flex;
	align-items: center;
	width: 100%;
	padding: 1rem;
	background-color: var(--purple);
}

.profile > div:first-child {
	display: flex;
	gap: 8px;
	align-items: center;
}

.profile__photo {
	aspect-ratio: 1;
	width: 18px;
	border-radius: 100%;
}

.profile span {
	color: var(--white);
}

.carousel__container {
	overflow: hidden;
}

.carousel {
	position: relative;
	width: 300%;
	display: flex;
}

.slide__one {
	left: 0%;
}
.slide__two {
	left: -100%;
	transition: all 250ms ease-in-out;
}
.slide__three {
	left: -200%;
	transition: all 250ms ease-in-out;
}

.carousel > div {
	display: flex;
	background-color: #f0fbff;
}

.content {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	padding-top: 1rem;
	padding-left: 1rem;
	flex: 1;
}

.content h3 {
	color: var(--purple);
	font-size: 12px;
	font-weight: 700;
}

.content p {
	font-size: 10px;
}

.content p > span {
	font-size: 10px;
	color: var(--orange);
}

.content > span {
	font-size: 8px;
}

.content .cta {
	padding: 2.5px 6.5px;
	background-color: var(--purple);
	color: var(--orange);
	border: none;
	border-radius: 4px;
	width: fit-content;
}

.carousel img {
	height: 160px;
	flex: 0;
}

.navigate {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 5px;
	padding: 5px;
}

.navigate > div {
	width: 5px;
	aspect-ratio: 1;
	background-color: var(--black);
	border-radius: 100%;
	opacity: 0.3;
	transition: all 250ms ease-in-out;
}

.navigate > .active__div {
	width: 5px;
	aspect-ratio: 1;
	background-color: var(--orange);
	border-radius: 100%;
	opacity: 1;
	transition: all 250ms ease-in-out;
}

.delivery__and__courier {
	padding-inline: 1rem;
	padding-block: 0.5rem;
	display: flex;
	flex-direction: column;
	gap: 1rem;
	flex: 1;
}

.modal__container {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.modal__container > header {
	font-size: 12px;
}

.modal {
	background-color: var(--light-purple);
	padding: 10px;
	border-radius: 8px;
	display: flex;
	flex-direction: column;
}

.modal > div:first-child {
	display: flex;
	align-items: center;
}

.modal__content {
	display: flex;
	flex-direction: column;
	flex: 1;
	align-items: flex-start;
	gap: 0.5rem;
}

.modal__content p {
	font-size: 12px;
	color: var(--black);
	opacity: 0.75;
}

.modal__content > span {
	color: var(--purple);
	font-size: 24px;
	font-weight: 700;
}

.modal > .cta__container {
	display: flex;
	gap: 1rem;
	margin-top: 0.75rem;
}

.big__cta {
	padding: 4.5px 10px;
	background-color: var(--purple);
	color: var(--orange);
	border: none;
	border-radius: 4px;
	width: fit-content;
}

.text__cta {
	padding: 4.5px 10px;
	background-color: transparent;
	color: var(--purple);
	border: none;
	border-radius: 4px;
	width: fit-content;
	font-weight: 700;
}

.homeplus__container {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}
