# Get this on the Pi Developer Portal (develop.pi in the Pi Browser)
PI_API_KEY=

# Platform API
PLATFORM_API_URL=https://api.minepi.com

# Session secret
SESSION_SECRET='pailot development secret'
# Database credentials
DATABASE_HOST=localhost
DATABASE_TYPE=postgres
DATABASE_USERNAME=pailot_development
DATABASE_PASSWORD=password
DATABASE_PORT=5432
DATABASE_NAME=pailot_development

#cloudinary keys
#paste the keys here
CLOUDINARY_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# Twilio keys
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_OTP_VERIFICATION_SID=
