.allowPi {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	width: 100%;
	text-align: center;
	padding: 2.4rem;
	gap: 1.5rem;
	background-color: var(--purple);
}

.allowPi img {
	width: 2.5rem;
	aspect-ratio: 1;
}

.allowPi h3 {
	color: var(--orange);
	margin: 2% 0;
	font-size: 1.25rem;
	font-weight: 500;
	letter-spacing: 0.1em;
}

.allowPi > p {
	font-size: 0.813rem;
	font-weight: 300;
	color: var(--white);
}
.cta__container {
	max-width: 40rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
	width: 100%;
}

.allowBtn {
	font-weight: bolder;
	border: none;
	width: 100%;
	color: #fff;
	padding: 10px;
	border-radius: 0.25rem;
}

.allowBtnActive {
	background-color: var(--orange);
	color: var(--purple);
}

.allowBtnInactive {
	background-color: rgba(66, 66, 66, 1);
}

.terms {
	font-size: 10px;
	color: var(--white);
	text-align: left;
	width: 100%;
}

.terms a {
	color: var(--orange);
}

.tick {
	display: flex;
	align-items: center;
	gap: 0.7rem;
}

.tick input {
	outline: none;
	accent-color: var(--white);
}

.tick p {
	font-size: 0.7rem;
	font-weight: 300;
	color: var(--white);
}

.error {
  color: #cc0000;
}
