.allowPi {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-align: center;
    padding: 5%;
}

.allowPi h3{
    color: #fff;
    margin: 2% 0;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 5px; 
}

.allowPi p{
    font-size: 16px;
}
.allowBtn{
    font-weight: bolder;
    border: none;
    width: 100%;
    color: #fff;
    padding:10px;
    border-radius: 4px;
}

.allowBtnActive{
    background-color: #304596;
}

.allowBtnInactive{
    background-color: #424242;
}

.terms{
    font-size: 10px;
    text-align: left;
    width: 100%;
}

.tick{
    display: flex;
    align-items: center;
    gap:10px;
}

.tick input{
    outline: 2px solid black;
    accent-color:  #FF9524;
}