.allowPi {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 100%;
	text-align: center;
	padding: 2.4rem;
	gap: 24px;
	background-color: var(--purple);
}

.allowPi img {
	width: 40px;
	aspect-ratio: 1;
}

.allowPi h3 {
	color: var(--orange);
	margin: 2% 0;
	font-size: 20px;
	font-weight: 500;
	letter-spacing: 0.1em;
}

.allowPi > p {
	font-size: 10px;
	color: var(--white);
}
.cta__container {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	width: 100%;
}

.allowBtn {
	font-weight: bolder;
	border: none;
	width: 100%;
	color: #fff;
	padding: 10px;
	border-radius: 4px;
}

.allowBtnActive {
	background-color: var(--orange);
	color: var(--purple);
}

.allowBtnInactive {
	background-color: rgba(66, 66, 66, 1);
}

.terms {
	font-size: 10px;
	color: var(--white);
	text-align: left;
	width: 100%;
}

.terms a {
	color: var(--orange);
}

.tick {
	display: flex;
	align-items: center;
	gap: 10px;
}

.tick input {
	outline: none;
	accent-color: var(--white);
}

.tick p {
	font-size: 3vw;
	color: var(--white);
}
