.footer__nav {
	background-color: rgba(103, 80, 164, 0.08);
	padding: 3.4px 7px;
	width: 100%;
}

.list {
	display: flex;
	justify-content: space-around;
	gap: 7px;
}

.list__item {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
	padding-block: 16px;
	width: 79.5px;
	color: var(--black);
	opacity: 0.75;
}

.list__item img {
	height: 13.2px;
	width: 18px;
}

.list__item span {
	font-size: 10px;
	width: 100%;
	text-align: center;
}

.active__item {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
	padding-block: 16px;
	color: var(--purple);
	width: 79.5px;
}

.active__item img {
	height: 13.2px;
	width: 18px;
}

.active__item span {
	font-size: 10px;
	font-weight: 700;
	width: 100%;
	text-align: center;
}
