#Wrapper {
	padding-top: 10%;
	width: 100%;
	box-sizing: border-box;
}

.FirstItem {
	background-color: #f0fbff;
	font-size: 13px;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	width: 100vw;
	margin: 0;
}

.FirstItem .Content {
	padding: 5%;
}

.FirstItem .SliderImage {
	flex-grow: 1;
}
