@font-face {
	font-family: 'Roboto';
	src: url('./assets/fonts/Roboto-font/Roboto-Black.ttf') format('ttf'),
		url('./assets/fonts/Roboto-font/Roboto-BlackItalic.ttf') format('ttf'),
		url('./assets/fonts/Roboto-font/Roboto-Bold.ttf') format('ttf'),
		url('./assets/fonts/Roboto-font/Roboto-BoldItalic.ttf') format('ttf'),
		url('./assets/fonts/Roboto-font/Roboto-Bold.ttf') format('ttf'),
		url('./assets/fonts/Roboto-font/Roboto-BoldItalic.ttf') format('ttf'),
		url('./assets/fonts/Roboto-font/Roboto-Italic.ttf') format('ttf'),
		url('./assets/fonts/Roboto-font/Roboto-Light.ttf') format('ttf'),
		url('./assets/fonts/Roboto-font/Roboto-LightItalic.ttf') format('ttf'),
		url('./assets/fonts/Roboto-font/Roboto-Medium.ttf') format('ttf'),
		url('./assets/fonts/Roboto-font/Roboto-MediumItalic.ttf') format('ttf'),
		url('./assets/fonts/Roboto-font/Roboto-Regular.ttf') format('ttf'),
		url('./assets/fonts/Roboto-font/Roboto-Thin.ttf') format('ttf');
	font-weight: normal;
	font-style: normal;
}

body {
	margin: 0;
	width: 100vw;
	font-family: 'Roboto', sans-serif;
	box-sizing: border-box;
}

:root {
	--purple: rgba(48, 0, 126, 1);
	--white: #f5f5f5;
	--orange: rgba(255, 149, 36, 1);
	--light-purple: rgba(226, 232, 255, 1);
	--light-purple-variant: rgba(231, 224, 236, 1);
	--black: rgba(66, 66, 66, 1);
}

* {
	box-sizing: border-box;
	padding: 0px;
	margin: 0px;
	/* font-family: 'Roboto'; */
}
